.venv
.env

#for testing
embedding/company_licitations/*.pdf
volumes
.volumes
__pycache__/

#Licitation storage
licitation_filter/data
licitation_filter/logs
state/discoveredid_history.json
licitation_evaluation/results